.auth{
    width: 500px;
    height:auto;    
    margin-top: 50px;
    @include border-radius($radius);
    @include box-shadow($shadow);    
    
    .nav{
        font: 30px 'Script MT Bold';       
        li{
            a{
                color: $gray-dark;                
            }
            a:hover, a:focus{                
                background: none;                
            }
        }
        li.active{
            a{
                color: $brand-success;
            }
        }
        #or{
            font-size: 20px;
            text-align: center;
        }

    }
    .btndiv{
        text-align: center;
    }
    #signup-tab{
        .inner_form_wrapper{
            padding: 0px;
        }
        .left_column, .right_column{            
            .form-group{
                padding: 5px;
                margin-bottom: 0px;
            }
        }
    }
    #country_selector{
        width: 250px !important;
    }
}
.logo{    
    .text{
        width: 700px;
        display: block;
        margin: 0 auto;
        text-align: center;
        font: 100px 'Script MT Bold';
        color:$brand-success;
        span{
            color:$brand-warning;
        }
    }
}
.messages{
    margin-top: 20px;
    #messages{        
        width: 400px;
        margin: auto;
    }
}
